package wordmaster

import "fmt"
import "strconv"

func characterAriaLabel(attemptIndex, characterIndex int) string {
	return fmt.Sprintf("Rivi %v, kirjain %v", attemptIndex+1, characterIndex+1)
}

func interactionLogic() string {
	return `on input
            if my value is not ''
                focus the next <input/>
            end
        on keyup[key is 'Backspace']
            if my value is ''
                focus the previous <input/>
            end
			`
}

func getRowColor(i int, colors []Color, disabled bool) string {
	if disabled {
		return "lightgray"
	}

	if len(colors) > i {
		return colors[i]
	}

	return "white"
}

templ PuzzleRow(attemptIndex int, disabled bool, colors []Color) {
	<ul class="puzzle-row" id={ "row-" + strconv.Itoa(attemptIndex) }>
		<li>
			<input
				name="guess"
				aria-label={ characterAriaLabel(attemptIndex, 1) }
				class={ "character-box" + " " + getRowColor(0, colors, disabled) }
				autocomplete="off"
				type="text"
				maxlength="1"
				minlength="1"
				required
				size="1"
				pattern="[A-Ö]"
				disabled?={ disabled }
				_={ interactionLogic() }
			/>
		</li>
		<li>
			<input
				name="guess"
				aria-label={ characterAriaLabel(attemptIndex, 2) }
				class={ "character-box" + " " + getRowColor(1, colors, disabled) }
				autocomplete="off"
				type="text"
				maxlength="1"
				minlength="1"
				required
				size="1"
				pattern="[A-Ö]"
				disabled?={ disabled }
				_={ interactionLogic() }
			/>
		</li>
		<li>
			<input
				name="guess"
				aria-label={ characterAriaLabel(attemptIndex, 3) }
				class={ "character-box" + " " + getRowColor(2, colors, disabled) }
				autocomplete="off"
				type="text"
				maxlength="1"
				minlength="1"
				required
				size="1"
				pattern="[A-Ö]"
				disabled?={ disabled }
				_={ interactionLogic() }
			/>
		</li>
		<li>
			<input
				name="guess"
				aria-label={ characterAriaLabel(attemptIndex, 4) }
				class={ "character-box" + " " + getRowColor(3, colors, disabled) }
				autocomplete="off"
				type="text"
				maxlength="1"
				minlength="1"
				required
				size="1"
				pattern="[A-Ö]"
				disabled?={ disabled }
				_={ interactionLogic() }
			/>
		</li>
		<li>
			<input
				name="guess"
				aria-label={ characterAriaLabel(attemptIndex, 5) }
				class={ "character-box" + " " + getRowColor(4, colors, disabled) }
				autocomplete="off"
				type="text"
				maxlength="1"
				minlength="1"
				required
				size="1"
				pattern="[A-Ö]"
				disabled?={ disabled }
				_={ `on input
            			if my value is not ''
                			focus the next <form button[type='submit']/>
                   	end
                    on keyup[key is 'Backspace']
                    	if my value is ''
                     		focus the previous <input/>
                    end` }
			/>
		</li>
	</ul>
}
