package wordmaster

templ WordMaster() {
	@Base() {
		<h1>Sanamestari</h1>
		@Instructions()
	}
}

templ Base() {
	<!DOCTYPE html>
	<html lang="fi">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<title>Sanamestari</title>
			<link href="assets/css/reset.css" rel="stylesheet"/>
			<link href="assets/css/wordmaster.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta4/dist/htmx.min.js" integrity="sha384-aWZK1NtOs/aWb/+YZdTM8q2JkWEshlMc9mgZ189numT9bwFhyAyYEoO4nO/2dTXt" crossorigin="anonymous"></script>
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
