body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100svh;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    color: green;
}
